
CONFIG VCCAUX  = 3.3;

# Constraint for RX
NET "rxclk_clk_in" TNM_NET = "RX_CLOCK";
TIMESPEC "TS_RX_CLOCK" = PERIOD "RX_CLOCK" 74 MHz HIGH 50 %;

NET "CLK20" PERIOD = 20 MHz;
NET "CLK20" LOC = P87;
NET "CLK20" IOSTANDARD = LVCMOS33;

# RX0 clock
NET "RX_CHANNELS_IN_P[3]" LOC = P134 | IOSTANDARD = TMDS_33;
NET "RX_CHANNELS_IN_N[3]" LOC = P133 | IOSTANDARD = TMDS_33;
# RX0 red
NET "RX_CHANNELS_IN_P[2]" LOC = P142 | IOSTANDARD = TMDS_33;
NET "RX_CHANNELS_IN_N[2]" LOC = P141 | IOSTANDARD = TMDS_33;
# RX0 green
NET "RX_CHANNELS_IN_P[1]" LOC = P140 | IOSTANDARD = TMDS_33;
NET "RX_CHANNELS_IN_N[1]" LOC = P139 | IOSTANDARD = TMDS_33;
# RX0 blue
NET "RX_CHANNELS_IN_P[0]" LOC = P138 | IOSTANDARD = TMDS_33;
NET "RX_CHANNELS_IN_N[0]" LOC = P137 | IOSTANDARD = TMDS_33;

NET "RX_CEC[0]" LOC = P127 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 | PULLUP;
NET "RX_EN[0]"  LOC = P123 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "RX_DET[0]" LOC = P121 | IOSTANDARD = LVCMOS33;
NET "RX_SDA[0]" LOC = P124 | IOSTANDARD = I2C | PULLUP;
NET "RX_SCL[0]" LOC = P126 | IOSTANDARD = I2C | PULLUP;

# RX1 clock
NET "RX_CHANNELS_IN_P[7]" LOC = P24;
NET "RX_CHANNELS_IN_N[7]" LOC = P23;
# RX1 red
NET "RX_CHANNELS_IN_P[4]" LOC = P27;
NET "RX_CHANNELS_IN_N[4]" LOC = P26;
# RX1 green
NET "RX_CHANNELS_IN_P[5]" LOC = P30;
NET "RX_CHANNELS_IN_N[5]" LOC = P29;
# RX1 blue
NET "RX_CHANNELS_IN_P[6]" LOC = P33;
NET "RX_CHANNELS_IN_N[6]" LOC = P32;

NET "RX_CEC[1]" LOC = P17 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 | PULLUP;
NET "RX_EN[1]"  LOC = P14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "RX_DET[1]" LOC = P12 | IOSTANDARD = LVCMOS33;
NET "RX_SDA[1]" LOC = P15 | IOSTANDARD = I2C | PULLUP;
NET "RX_SCL[1]" LOC = P16 | IOSTANDARD = I2C | PULLUP;

# TX clock
NET "TX_CHANNELS_OUT_P[3]" LOC = P51 | IOSTANDARD = TMDS_33;
NET "TX_CHANNELS_OUT_N[3]" LOC = P50 | IOSTANDARD = TMDS_33;
# TX red
NET "TX_CHANNELS_OUT_P[2]" LOC = P62 | IOSTANDARD = TMDS_33;
NET "TX_CHANNELS_OUT_N[2]" LOC = P61 | IOSTANDARD = TMDS_33;
# TX green
NET "TX_CHANNELS_OUT_P[1]" LOC = P58 | IOSTANDARD = TMDS_33;
NET "TX_CHANNELS_OUT_N[1]" LOC = P57 | IOSTANDARD = TMDS_33;
# TX blue
NET "TX_CHANNELS_OUT_P[0]" LOC = P56 | IOSTANDARD = TMDS_33;
NET "TX_CHANNELS_OUT_N[0]" LOC = P55 | IOSTANDARD = TMDS_33;

NET "TX_CEC" LOC = "P47" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 | PULLUP;
NET "TX_EN"  LOC = "P44" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "TX_DET" LOC = "P43" | IOSTANDARD = LVCMOS33;
NET "TX_SCL" LOC = "P46" | IOSTANDARD = I2C | PULLUP;
NET "TX_SDA" LOC = "P45" | IOSTANDARD = I2C | PULLUP;

# USB UART
NET "USB_CTSN" LOC = P93 | IOSTANDARD = LVCMOS33;
NET "USB_RTSN" LOC = P92 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "USB_RXD"  LOC = P95 | IOSTANDARD = LVCMOS33;
NET "USB_TXD"  LOC = P94 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "USB_DTRN" LOC = P84 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "USB_DSRN" LOC = P85 | IOSTANDARD = LVCMOS33;
NET "USB_DCDN" LOC = P83 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "USB_RIN"  LOC = P82 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

