
CONFIG VCCAUX  = 3.3;

NET "CLK20" PERIOD = 20 MHz;
NET "CLK20" LOC = P87;
NET "CLK20" IOSTANDARD = LVCMOS33;

# SPI Flash
NET "FLASH_MISO" LOC = "P65" | IOSTANDARD = LVTTL; 
NET "FLASH_MOSI" LOC = "P64" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST; 
NET "FLASH_CS"   LOC = "P38" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST; 
NET "FLASH_SCK"  LOC = "P70" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;

# PMOD
NET "PMOD0[0]" LOC = P104 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 | PULLDOWN;
NET "PMOD0[1]" LOC = P101 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 | PULLDOWN;
NET "PMOD0[2]" LOC = P99  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 | PULLDOWN;
NET "PMOD0[3]" LOC = P97  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 | PULLDOWN;

