
config VCCAUX = 3.3;

# RX0 clock
net RX0_CHANNELS_IN_P(3) IOSTANDARD = TMDS_33;
net RX0_CHANNELS_IN_N(3) IOSTANDARD = TMDS_33;
# RX0 red
net RX0_CHANNELS_IN_P(2) IOSTANDARD = TMDS_33;
net RX0_CHANNELS_IN_N(2) IOSTANDARD = TMDS_33;
# RX0 green
net RX0_CHANNELS_IN_P(1) IOSTANDARD = TMDS_33;
net RX0_CHANNELS_IN_N(1) IOSTANDARD = TMDS_33;
# RX0 blue
net RX0_CHANNELS_IN_P(0) IOSTANDARD = TMDS_33;
net RX0_CHANNELS_IN_N(0) IOSTANDARD = TMDS_33;

# RX1 clock
net RX1_CHANNELS_IN_P(3) IOSTANDARD = TMDS_33;
net RX1_CHANNELS_IN_N(3) IOSTANDARD = TMDS_33;
# RX1 red
net RX1_CHANNELS_IN_P(2) IOSTANDARD = TMDS_33;
net RX1_CHANNELS_IN_N(2) IOSTANDARD = TMDS_33;
# RX1 green
net RX1_CHANNELS_IN_P(1) IOSTANDARD = TMDS_33;
net RX1_CHANNELS_IN_N(1) IOSTANDARD = TMDS_33;
# RX1 blue
net RX1_CHANNELS_IN_P(0) IOSTANDARD = TMDS_33;
net RX1_CHANNELS_IN_N(0) IOSTANDARD = TMDS_33;

# TX0 clock
net TX_CHANNELS_OUT_P(3) IOSTANDARD = TMDS_33;
net TX_CHANNELS_OUT_N(3) IOSTANDARD = TMDS_33;
# TX0 red
net TX_CHANNELS_OUT_P(2) IOSTANDARD = TMDS_33;
net TX_CHANNELS_OUT_N(2) IOSTANDARD = TMDS_33;
# TX0 green
net TX_CHANNELS_OUT_P(1) IOSTANDARD = TMDS_33;
net TX_CHANNELS_OUT_N(1) IOSTANDARD = TMDS_33;
# TX0 blue
net TX_CHANNELS_OUT_P(0) IOSTANDARD = TMDS_33;
net TX_CHANNELS_OUT_N(0) IOSTANDARD = TMDS_33;
