
CONFIG VCCAUX  = 3.3;

# Constraint for RX
NET "rxclk_clk_in" TNM_NET = "RX_CLOCK";
TIMESPEC TS_RX_CLOCK = PERIOD "RX_CLOCK" 74 MHz HIGH 50 %;

NET "CLK20" PERIOD = 20 MHz;
NET "CLK20" LOC = P85;
NET "CLK20" IOSTANDARD = LVCMOS33;

# RX0 clock
NET "RX_CHANNELS_IN_P[3]" LOC = P134;
NET "RX_CHANNELS_IN_P[3]" IOSTANDARD = TMDS_33;
NET "RX_CHANNELS_IN_N[3]" LOC = P133;
NET "RX_CHANNELS_IN_N[3]" IOSTANDARD = TMDS_33;
# RX0 red
NET "RX_CHANNELS_IN_P[2]" LOC = P142;
NET "RX_CHANNELS_IN_P[2]" IOSTANDARD = TMDS_33;
NET "RX_CHANNELS_IN_N[2]" LOC = P141;
NET "RX_CHANNELS_IN_N[2]" IOSTANDARD = TMDS_33;
# RX0 green
NET "RX_CHANNELS_IN_P[1]" LOC = P140;
NET "RX_CHANNELS_IN_P[1]" IOSTANDARD = TMDS_33;
NET "RX_CHANNELS_IN_N[1]" LOC = P139;
NET "RX_CHANNELS_IN_N[1]" IOSTANDARD = TMDS_33;
# RX0 blue
NET "RX_CHANNELS_IN_P[0]" LOC = P138;
NET "RX_CHANNELS_IN_P[0]" IOSTANDARD = TMDS_33;
NET "RX_CHANNELS_IN_N[0]" LOC = P137;
NET "RX_CHANNELS_IN_N[0]" IOSTANDARD = TMDS_33;

NET "RX_CEC[0]" LOC = P132;
NET "RX_CEC[0]" IOSTANDARD = LVCMOS33;
NET "RX_DET[0]" LOC = P131;
NET "RX_DET[0]" IOSTANDARD = LVCMOS33;
NET "RX_EN[0]" LOC = P127;
NET "RX_EN[0]" IOSTANDARD = LVCMOS33;
NET "RX_SDA[0]" LOC = P126;
NET "RX_SDA[0]" IOSTANDARD = I2C;
NET "RX_SCL[0]" LOC = P124;
NET "RX_SCL[0]" IOSTANDARD = I2C;

# RX1 clock
NET "RX_CHANNELS_IN_P[7]" LOC = P24;
NET "RX_CHANNELS_IN_N[7]" LOC = P23;
# RX1 red
NET "RX_CHANNELS_IN_P[4]" LOC = P27;
NET "RX_CHANNELS_IN_N[4]" LOC = P26;
# RX1 green
NET "RX_CHANNELS_IN_P[5]" LOC = P30;
NET "RX_CHANNELS_IN_N[5]" LOC = P29;
# RX1 blue
NET "RX_CHANNELS_IN_P[6]" LOC = P33;
NET "RX_CHANNELS_IN_N[6]" LOC = P32;

NET "RX_CEC[1]" LOC = P22;
NET "RX_CEC[1]" IOSTANDARD = LVCMOS33;
NET "RX_DET[1]" LOC = P21;
NET "RX_DET[1]" IOSTANDARD = LVCMOS33;
NET "RX_EN[1]" LOC = P17;
NET "RX_EN[1]" IOSTANDARD = LVCMOS33;
NET "RX_SDA[1]" LOC = P12;
NET "RX_SDA[1]" IOSTANDARD = I2C;
NET "RX_SCL[1]" LOC = P11;
NET "RX_SCL[1]" IOSTANDARD = I2C;

# TX clock
NET "TX_CHANNELS_OUT_P[3]" LOC = P51;
NET "TX_CHANNELS_OUT_P[3]" IOSTANDARD = TMDS_33;
NET "TX_CHANNELS_OUT_N[3]" LOC = P50;
NET "TX_CHANNELS_OUT_N[3]" IOSTANDARD = TMDS_33;
# TX red
NET "TX_CHANNELS_OUT_P[2]" LOC = P62;
NET "TX_CHANNELS_OUT_P[2]" IOSTANDARD = TMDS_33;
NET "TX_CHANNELS_OUT_N[2]" LOC = P61;
NET "TX_CHANNELS_OUT_N[2]" IOSTANDARD = TMDS_33;
# TX green
NET "TX_CHANNELS_OUT_P[1]" LOC = P58;
NET "TX_CHANNELS_OUT_P[1]" IOSTANDARD = TMDS_33;
NET "TX_CHANNELS_OUT_N[1]" LOC = P57;
NET "TX_CHANNELS_OUT_N[1]" IOSTANDARD = TMDS_33;
# TX blue
NET "TX_CHANNELS_OUT_P[0]" LOC = P56;
NET "TX_CHANNELS_OUT_P[0]" IOSTANDARD = TMDS_33;
NET "TX_CHANNELS_OUT_N[0]" LOC = P55;
NET "TX_CHANNELS_OUT_N[0]" IOSTANDARD = TMDS_33;

NET "TX_SCL" LOC = P46;
NET "TX_SCL" IOSTANDARD = I2C;
NET "TX_SDA" LOC = P45;
NET "TX_SDA" IOSTANDARD = I2C;
NET "TX_CEC" LOC = P48;
NET "TX_CEC" IOSTANDARD = LVCMOS33;
NET "TX_EN" LOC = P47;
NET "TX_EN" IOSTANDARD = LVCMOS33;

# USB
NET "USB_CTSN" LOC = P88;
NET "USB_CTSN" IOSTANDARD = LVCMOS33;
NET "USB_RTSN" LOC = P92;
NET "USB_RTSN" IOSTANDARD = LVCMOS33;
NET "USB_RXD" LOC = P93;
NET "USB_RXD" IOSTANDARD = LVCMOS33;
NET "USB_TXD" LOC = P94;
NET "USB_TXD" IOSTANDARD = LVCMOS33;
NET "USB_DTRN" LOC = P87;
NET "USB_DTRN" IOSTANDARD = LVCMOS33;
NET "USB_DSRN" LOC = P84;
NET "USB_DSRN" IOSTANDARD = LVCMOS33;
NET "USB_DCDN" LOC = P83;
NET "USB_DCDN" IOSTANDARD = LVCMOS33;
NET "USB_RIN" LOC = P82;
NET "USB_RIN" IOSTANDARD = LVCMOS33;

# LEDs
NET "LEDS_CLK[0]" LOC = P78;
NET "LEDS_CLK[0]" IOSTANDARD = LVCMOS33;
NET "LEDS_DATA[0]" LOC = P81;
NET "LEDS_DATA[0]" IOSTANDARD = LVCMOS33;
NET "LEDS_CLK[1]" LOC = P80;
NET "LEDS_CLK[1]" IOSTANDARD = LVCMOS33;
NET "LEDS_DATA[1]" LOC = P79;
NET "LEDS_DATA[1]" IOSTANDARD = LVCMOS33;

# Bluetooth
NET "BT_CTS" IOSTANDARD = LVCMOS33;
NET "BT_RTS" IOSTANDARD = LVCMOS33;
NET "BT_RXD" IOSTANDARD = LVCMOS33;
NET "BT_TXD" IOSTANDARD = LVCMOS33;

# PMOD
NET "PMOD0[0]" LOC = P102;
NET "PMOD0[0]" IOSTANDARD = LVCMOS33;
NET "PMOD0[1]" LOC = P100;
NET "PMOD0[1]" IOSTANDARD = LVCMOS33;
NET "PMOD0[2]" LOC = P98;
NET "PMOD0[2]" IOSTANDARD = LVCMOS33;
NET "PMOD0[3]" LOC = P95;
NET "PMOD0[3]" IOSTANDARD = LVCMOS33;
NET "PMOD1[0]" LOC = P104;
NET "PMOD1[0]" IOSTANDARD = LVCMOS33;
NET "PMOD1[1]" LOC = P101;
NET "PMOD1[1]" IOSTANDARD = LVCMOS33;
NET "PMOD1[2]" LOC = P99;
NET "PMOD1[2]" IOSTANDARD = LVCMOS33;
NET "PMOD1[3]" LOC = P97;
NET "PMOD1[3]" IOSTANDARD = LVCMOS33;
NET "PMOD2[0]" LOC = P121;
NET "PMOD2[0]" IOSTANDARD = LVCMOS33;
NET "PMOD2[1]" LOC = P119;
NET "PMOD2[1]" IOSTANDARD = LVCMOS33;
NET "PMOD2[2]" LOC = P117;
NET "PMOD2[2]" IOSTANDARD = LVCMOS33;
NET "PMOD2[3]" LOC = P115;
NET "PMOD2[3]" IOSTANDARD = LVCMOS33;
NET "PMOD3[0]" LOC = P123;
NET "PMOD3[0]" IOSTANDARD = LVCMOS33;
NET "PMOD3[1]" LOC = P120;
NET "PMOD3[1]" IOSTANDARD = LVCMOS33;
NET "PMOD3[2]" LOC = P118;
NET "PMOD3[2]" IOSTANDARD = LVCMOS33;
NET "PMOD3[3]" LOC = P116;
NET "PMOD3[3]" IOSTANDARD = LVCMOS33;

