
CONFIG VCCAUX  = 3.3;

# Constraint for RX
NET "rxclk_clk_in" TNM_NET = "RX_CLOCK";
TIMESPEC TS_RX_CLOCK = PERIOD "RX_CLOCK" 74 MHz HIGH 50 %;

NET "CLK20" PERIOD = 20 MHz;
NET "CLK20" LOC = P87;
NET "CLK20" IOSTANDARD = LVCMOS33;

# RX0 clock
NET "RX_CHANNELS_IN_P[3]" LOC = P134;
NET "RX_CHANNELS_IN_P[3]" IOSTANDARD = TMDS_33;
NET "RX_CHANNELS_IN_N[3]" LOC = P133;
NET "RX_CHANNELS_IN_N[3]" IOSTANDARD = TMDS_33;
# RX0 red
NET "RX_CHANNELS_IN_P[2]" LOC = P142;
NET "RX_CHANNELS_IN_P[2]" IOSTANDARD = TMDS_33;
NET "RX_CHANNELS_IN_N[2]" LOC = P141;
NET "RX_CHANNELS_IN_N[2]" IOSTANDARD = TMDS_33;
# RX0 green
NET "RX_CHANNELS_IN_P[1]" LOC = P140;
NET "RX_CHANNELS_IN_P[1]" IOSTANDARD = TMDS_33;
NET "RX_CHANNELS_IN_N[1]" LOC = P139;
NET "RX_CHANNELS_IN_N[1]" IOSTANDARD = TMDS_33;
# RX0 blue
NET "RX_CHANNELS_IN_P[0]" LOC = P138;
NET "RX_CHANNELS_IN_P[0]" IOSTANDARD = TMDS_33;
NET "RX_CHANNELS_IN_N[0]" LOC = P137;
NET "RX_CHANNELS_IN_N[0]" IOSTANDARD = TMDS_33;

NET "RX_CEC[0]" LOC = P127 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "RX_EN[0]"  LOC = P123 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "RX_DET[0]" LOC = P121 | IOSTANDARD = LVCMOS33;
NET "RX_SDA[0]" LOC = P124 | IOSTANDARD = I2C | PULLUP;
NET "RX_SCL[0]" LOC = P126 | IOSTANDARD = I2C | PULLUP;

# RX1 clock
NET "RX_CHANNELS_IN_P[7]" LOC = P24;
NET "RX_CHANNELS_IN_N[7]" LOC = P23;
# RX1 red
NET "RX_CHANNELS_IN_P[4]" LOC = P27;
NET "RX_CHANNELS_IN_N[4]" LOC = P26;
# RX1 green
NET "RX_CHANNELS_IN_P[5]" LOC = P30;
NET "RX_CHANNELS_IN_N[5]" LOC = P29;
# RX1 blue
NET "RX_CHANNELS_IN_P[6]" LOC = P33;
NET "RX_CHANNELS_IN_N[6]" LOC = P32;

NET "RX_CEC[1]" LOC = P17 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 | PULLUP;
NET "RX_EN[1]"  LOC = P14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "RX_DET[1]" LOC = P12 | IOSTANDARD = LVCMOS33;
NET "RX_SDA[1]" LOC = P15 | IOSTANDARD = I2C | PULLUP;
NET "RX_SCL[1]" LOC = P16 | IOSTANDARD = I2C | PULLUP;

# TX clock
NET "TX_CHANNELS_OUT_P[3]" LOC = P51;
NET "TX_CHANNELS_OUT_P[3]" IOSTANDARD = TMDS_33;
NET "TX_CHANNELS_OUT_N[3]" LOC = P50;
NET "TX_CHANNELS_OUT_N[3]" IOSTANDARD = TMDS_33;
# TX red
NET "TX_CHANNELS_OUT_P[2]" LOC = P62;
NET "TX_CHANNELS_OUT_P[2]" IOSTANDARD = TMDS_33;
NET "TX_CHANNELS_OUT_N[2]" LOC = P61;
NET "TX_CHANNELS_OUT_N[2]" IOSTANDARD = TMDS_33;
# TX green
NET "TX_CHANNELS_OUT_P[1]" LOC = P58;
NET "TX_CHANNELS_OUT_P[1]" IOSTANDARD = TMDS_33;
NET "TX_CHANNELS_OUT_N[1]" LOC = P57;
NET "TX_CHANNELS_OUT_N[1]" IOSTANDARD = TMDS_33;
# TX blue
NET "TX_CHANNELS_OUT_P[0]" LOC = P56;
NET "TX_CHANNELS_OUT_P[0]" IOSTANDARD = TMDS_33;
NET "TX_CHANNELS_OUT_N[0]" LOC = P55;
NET "TX_CHANNELS_OUT_N[0]" IOSTANDARD = TMDS_33;

NET "TX_CEC" LOC = "P47" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "TX_EN"  LOC = "P44" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "TX_DET" LOC = "P43" | IOSTANDARD = LVCMOS33;
NET "TX_SCL" LOC = "P46" | IOSTANDARD = I2C | PULLUP;
NET "TX_SDA" LOC = "P45" | IOSTANDARD = I2C | PULLUP;

# SPI Flash
NET "FLASH_MISO" LOC = "P65" | IOSTANDARD = LVTTL; 
NET "FLASH_MOSI" LOC = "P64" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST; 
NET "FLASH_CS"   LOC = "P38" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST; 
NET "FLASH_SCK"  LOC = "P70" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;

# USB UART
NET "USB_CTSN" LOC = P93 | IOSTANDARD = LVCMOS33;
NET "USB_RTSN" LOC = P92 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "USB_RXD"  LOC = P95 | IOSTANDARD = LVCMOS33;
NET "USB_TXD"  LOC = P94 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "USB_DTRN" LOC = P84 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "USB_DSRN" LOC = P85 | IOSTANDARD = LVCMOS33;
NET "USB_DCDN" LOC = P83 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "USB_RIN"  LOC = P82 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

# LED controls
NET "LEDS_CLK[0]"  LOC = P81 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "LEDS_DATA[0]" LOC = P80 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "LEDS_CLK[1]"  LOC = P79 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "LEDS_DATA[1]" LOC = P78 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

# Bluetooth
NET "BT_CTS"  LOC = P6 | IOSTANDARD = LVCMOS33;
NET "BT_RTS"  LOC = P9 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "BT_RXD"  LOC = P8 | IOSTANDARD = LVCMOS33;
NET "BT_TXD"  LOC = P7 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "BT_WAKE" LOC = P5 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "BT_RSTN" LOC = P1 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

# PMOD
NET "PMOD0[0]" LOC = P104 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD0[1]" LOC = P101 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD0[2]" LOC = P99  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD0[3]" LOC = P97  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD1[0]" LOC = P105 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD1[1]" LOC = P102 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD1[2]" LOC = P100 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD1[3]" LOC = P98  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD2[0]" LOC = P118 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD2[1]" LOC = P116 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD2[2]" LOC = P114 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD2[3]" LOC = P111 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD3[0]" LOC = P119 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD3[1]" LOC = P117 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD3[2]" LOC = P115 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD3[3]" LOC = P112 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

