
CONFIG VCCAUX  = 3.3;

NET "CLK20" PERIOD = 20 MHz;
NET "CLK20" LOC = P87;
NET "CLK20" IOSTANDARD = LVCMOS33;

# LED controls
NET "LEDS_CLK[0]"  LOC = P81 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "LEDS_DATA[0]" LOC = P80 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "LEDS_CLK[1]"  LOC = P79 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "LEDS_DATA[1]" LOC = P78 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

# PMOD
NET "PMOD0[0]" LOC = P104 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD0[1]" LOC = P101 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD0[2]" LOC = P99  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "PMOD0[3]" LOC = P97  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

