
CONFIG VCCAUX  = 3.3;

NET "CLK20" PERIOD = 20 MHz;
NET "CLK20" LOC = P87;
NET "CLK20" IOSTANDARD = LVCMOS33;

# USB UART
NET "USB_CTSN" LOC = P93 | IOSTANDARD = LVCMOS33;
NET "USB_RTSN" LOC = P92 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "USB_RXD"  LOC = P95 | IOSTANDARD = LVCMOS33;
NET "USB_TXD"  LOC = P94 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "USB_DTRN" LOC = P84 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "USB_DSRN" LOC = P85 | IOSTANDARD = LVCMOS33;
NET "USB_DCDN" LOC = P83 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "USB_RIN"  LOC = P82 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;