###########################################
# Setting VCCAUX for different SP601 board
###########################################
CONFIG VCCAUX = 3.3;

#
# Constraint for RX0
#
NET "rx0_clk" TNM_NET = DVI_CLOCK0;
TIMESPEC TS_DVI_CLOCK0 = PERIOD "DVI_CLOCK0" 100 MHz HIGH 50%;

#
# Constraint for RX1
#
NET "rx1_clk" TNM_NET = DVI_CLOCK1;
TIMESPEC TS_DVI_CLOCK1 = PERIOD "DVI_CLOCK1" 100 MHz HIGH 50%;

#
# Multi-cycle paths for TX0
#
#TIMEGRP "bramgrp_0" = RAMS(dvi_tx0/pixel2x/dataint<*>);
#TIMEGRP "fddbgrp_0" = FFS(dvi_tx0/pixel2x/db<*>);
#TIMEGRP "bramra_0"  = FFS(dvi_tx0/pixel2x/ra<*>);
#
#TIMESPEC "TS_ramdo_0" = FROM "bramgrp_0" TO "fddbgrp_0" TS_DVI_CLOCK0;
#TIMESPEC "TS_ramra_0" = FROM "bramra_0"  TO "fddbgrp_0" TS_DVI_CLOCK0;

##############################################################################
# SYSCLK Input
##############################################################################
NET "clk100"        LOC = "P55" | IOSTANDARD = LVCMOS33 | PERIOD = 100 MHz;

##############################################################################
# Mechanical Switches (SW)
##############################################################################
NET "SW"         LOC = "P70" | IOSTANDARD = LVCMOS33 ;
#NET "SW<1>"         LOC = "D14" | IOSTANDARD = LVCMOS33 ;
#NET "SW<2>"         LOC = "C14" | IOSTANDARD = LVCMOS33 ;
#NET "SW<3>"         LOC = "P15" | IOSTANDARD = LVCMOS33 ;

##############################################
NET "TX0_TMDS(3)"  	LOC = "P142" |IOSTANDARD = TMDS_33 ; ## Clock	
NET "TX0_TMDSB(3)"  LOC = "P141" |IOSTANDARD = TMDS_33 ; #
NET "TX0_TMDS(2)"  	LOC = "P140" |IOSTANDARD = TMDS_33 ; ## Red 	
NET "TX0_TMDSB(2)"  LOC = "P139" |IOSTANDARD = TMDS_33 ; #
NET "TX0_TMDS(1)"  	LOC = "P138" |IOSTANDARD = TMDS_33 ; ## Green	
NET "TX0_TMDSB(1)"  LOC = "P137" |IOSTANDARD = TMDS_33 ; #
NET "TX0_TMDS(0)"  	LOC = "P134" |IOSTANDARD = TMDS_33 ; ## Blue
NET "TX0_TMDSB(0)"  LOC = "P133" |IOSTANDARD = TMDS_33 ; #

##################################################
NET "RX1_TMDS(3)"  	LOC = "P127" |IOSTANDARD = TMDS_33 ; # CLK
NET "RX1_TMDSB(3)"  LOC = "P126" |IOSTANDARD = TMDS_33 ;
NET "RX1_TMDS(2)"  	LOC = "P124" |IOSTANDARD = TMDS_33 ; # Red
NET "RX1_TMDSB(2)"  LOC = "P123" |IOSTANDARD = TMDS_33 ;
NET "RX1_TMDS(1)"  	LOC = "P121" |IOSTANDARD = TMDS_33 ; # Green	
NET "RX1_TMDSB(1)"  LOC = "P120" |IOSTANDARD = TMDS_33 ;
NET "RX1_TMDS(0)"  	LOC = "P119" |IOSTANDARD = TMDS_33 ; # Blue	
NET "RX1_TMDSB(0)"  LOC = "P118" |IOSTANDARD = TMDS_33 ;

##############################################
NET "RX0_TMDS(3)"  	LOC = "P88" |IOSTANDARD = TMDS_33 ; # CLK
NET "RX0_TMDSB(3)"  LOC = "P87" |IOSTANDARD = TMDS_33 ;
NET "RX0_TMDS(2)"  	LOC = "P85" |IOSTANDARD = TMDS_33 ; # Red
NET "RX0_TMDSB(2)"  LOC = "P84" |IOSTANDARD = TMDS_33 ;
NET "RX0_TMDS(1)"  	LOC = "P83" |IOSTANDARD = TMDS_33 ; # Green	
NET "RX0_TMDSB(1)"  LOC = "P82" |IOSTANDARD = TMDS_33 ;
NET "RX0_TMDS(0)"  	LOC = "P81" |IOSTANDARD = TMDS_33 ; # Blue	
NET "RX0_TMDSB(0)"  LOC = "P80" |IOSTANDARD = TMDS_33 ;


########################################
# Reset button and LEDs and Mechanical Switches (SW)
########################################
#NET "rstbtn_n" LOC = "T15" | IOSTANDARD = LVCMOS33;
#NET "LED<0>"   LOC = "U18" | IOSTANDARD = LVCMOS33;
#NET "LED<1>"   LOC = "M14" | IOSTANDARD = LVCMOS33;
#NET "LED<2>"   LOC = "N14" | IOSTANDARD = LVCMOS33;
#NET "LED<3>"   LOC = "L14" | IOSTANDARD = LVCMOS33;
#NET "LED<4>"   LOC = "M13" | IOSTANDARD = LVCMOS33;
#NET "LED<5>"   LOC = "D4"  | IOSTANDARD = LVCMOS33;
#NET "LED<6>"   LOC = "P16" | IOSTANDARD = LVCMOS33;
#NET "LED<7>"   LOC = "N12" | IOSTANDARD = LVCMOS33;
